
@{
    ViewBag.Title = "Feedback Success";
}

<section class="faq-page page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title text-center">
                    <h2 class="title">Feedback Success</h2>
                    <p>@MartinsExquizite.Web.Framework.Config.ContactFormSuccessMessage</p>
                </div>
            </div>
        </div>
    </div>
</section>

